
*{
 margin: 0; 
 padding: 0;
 border: 0;   
}
@font-face {
  font-family: 'MiFuente';
  src: url('./fuentes/Black\ Olives.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuenteBEBAS';
  src: url('./fuentes/Bebas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuenteNEXA';
  src: url('./fuentes/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuenteNEXAGRUESA';
  src: url('./fuentes/Nexa-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuenteAPPLE';
  src: url('./fuentes/AppleGaramond-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body{
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
}

header::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    filter: brightness(0);
    background-color: rgba(0, 0, 0, 1);
    z-index: 0;
}
header::before {
    transition: filter 0.5s ease-in-out;
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('imagenes/Capturafondo.PNG');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: 1;
}

.col-izquierda, .col-centro, .col-derecha {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.col-izquierda {
    justify-content: flex-start;
}
.col-centro {
    justify-content: center;
}
.col-derecha {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}


.logo {
    width: 130px; /* Ajustalo como te guste */
    height: auto;
}

.menu{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px, 0px;
    z-index: 3;
}
.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 100px;
    justify-content: center;

}
.menu ul li{
    display: inline-block;
    margin: 0px, 40px;
}
.menu ul li a{
color: rgb(255, 255, 255);
text-decoration: none;
font-weight: bold;
font-size: 18px;
padding: 10px, 15px;
}

.nombre{
    z-index: 3;
}

.nombre article h1 { 
    font-family: 'MiFuenteBEBAS', sans-serif;
    color: #EEEAE1; 
    text-align: center;
    position: center;
    font-size: 5em;
}

.nombre article h2 {
    font-family: 'MiFuente', sans-serif;
    color: #EEEAE1; 
    font-size: 4em; 
    text-align: center;
    position: center;
}

.numero{
    text-align: center;
    margin-top: 20px;
}

.numero article h4 {
    color: white;
    font-family: 'MiFuenteNEXA', sans-serif;
}   

.contacto{
    display:inline-block;
    border:none;
    background: none;
    cursor:pointer;
    margin: 0 15px;
}
.contacto img{
width: 35px;
height: 35px;
transition: transform 0,2s ease;
}
.contacto img:hover{
    transform:scale(1.1);
}

body{
    font-family: arial, sans-serif;
    background-color:#71967C;
    margin: 0;
    text-align: center;
}

.galeria {
   display: grid;
   gap: 0px;
   padding: 5px;
   margin-top: 50px;
   justify-items: center;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 40px;
}

.producto {
width: 200px;
text-align: center;
padding-top: 50px;
}

.producto img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.producto h4{
    font-size: 1.1em;
    margin: 10px, 5px;
    font-family: 'MiFuenteNEXAGRUESA', sans-serif;
}

.producto p{
    font-size: 1em;
    color: #000000;

    box-shadow: 0 1px 8px rgba(169, 60, 60, 0.1);
    transition: transform 0.3 ease, box-shadow 0.3 ease;
    border-radius: 10px;
    padding: 10px;
}
.producto img:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgb(13, 55, 19);
    background-color: f5f5dc;
}

details {
    margin-top: 10px;
    background-color: #4E7A4B;
    border-radius: 5px;
    border-color: #000000;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.1em;
    text-align: left;
    font-family: 'MiFuenteAPPLE', sans-serif;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

details ul {
    padding-left: 20px;
    margin-top: 5px;
}

details li {
    list-style: disc;
    margin-left: 10px;
    font-family: 'MiFuenteAPPLE', sans-serif;
    list-style-type: none;
}
.btncomprar{
    background-color: rgb(42, 67, 18);
    color: #EEEAE1;
    border: none;
    padding: 8px 12px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.producto p{
    background-color: #cce8c7;
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    margin-top: 5px;
}

.publicidad img {
    width: 50%;
    position: left;
    height: auto;
    top: 4em;
}

.customfooter{
background-color: #3F5748;
padding: 40px 0;
text-align: center;
}

.redes{
    display:inline-block;
    border:none;
    background: none;
    cursor:pointer;
    margin: 0 15px;
}
.redes img{
width: 50px;
height: 50px;
transition: tranform 0,2s ease;
}
.redes img:hover{
    transform:scale(1,1);
}

.footertexto{
font-size: 30px;
color: #000000;
margin: 0;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: -15px;
position: relative;
}